[Unit]
Description=Consumer for CVMFS publisher jobs
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/cvmfs_job consume
PIDFile=/var/run/cvmfs-job-consume.pid
StandardOutput=journal
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target
