[Unit]
Description=CernVM-FS Conveyor server
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/bin/conveyor server
PIDFile=/var/run/conveyor-server.pid
StandardOutput=journal
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target
