[Unit]
Description=CernVM-FS Conveyor worker
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/bin/conveyor worker
PIDFile=/var/run/conveyor-worker.pid
StandardOutput=journal
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target
