[Unit]
Description=Consumer for CVMFS publisher jobs
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/bin/conveyor consumer
PIDFile=/var/run/conveyor-worker.pid
StandardOutput=journal
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target
