[Unit]
Description=Published CVMFS jobs database
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/bin/cvmfs_job db
PIDFile=/var/run/cvmfs-job-db.pid
StandardOutput=journal
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target
