[Unit]
Description=Published CVMFS jobs database
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/bin/cvmfs_job server
PIDFile=/var/run/cvmfs-job-server.pid
StandardOutput=journal
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target
